:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* All the css variables for the app are defined here */

  --fg-color: #1a1a1a;
  --fg-color-active: #282828;
  --bg-color: #151515;
  --dot-color: #2e2e2e;
  --text-color: #fafafa;
  --text-color-2: #d2d2d2;

  --app-border: 1px solid #333333;
  --app-border-radius: 10px;

  /* Context menu */
  --context-menu-width: 180px;
  --context-menu-item-text-align: left;

  /* Notes */
  --notes-padding: 15px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0%;
  min-width: 320px;
  overflow: hidden;
}

body {
  background-color: var(--bg-color);
  background-image: radial-gradient(
    circle,
    var(--dot-color) 2px,
    transparent 1px
  );
  background-size: 30px 30px;
  background-repeat: repeat;
  color: var(--text-color);
}

.page-heading {
  margin: 20px;
  border-bottom: var(--app-border);
}

.user-input-text {
  height: 35px;
  font-size: 16px;
  border: var(--app-border);
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 10px;
  padding: 15px;
}

.input-label {
  font-size: 18px;
  margin-top: 10px;
}

.user-input-button {
  border: var(--app-border);
  background-color: var(--fg-color);
  transition: all 0.2s ease-in-out;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  color: var(--text-color);
  border-radius: var(--app-border-radius);
  min-width: 100px;
}

.user-input-button:hover {
  background-color: var(--fg-color-active);
}

.close-button {
  transition: all 0.2s ease-in-out;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  color: var(--text-color-2);
}

.close-button:hover {
  text-shadow: 0px 0px 5px var(--text-color);
  color: var(--text-color);
}
